
	.setpassword_background
	{
		background-color: #533872;
	}
	.setpassword_h2
	{
		color: #ffffff;
	}
	.setpassword_h3
	{
		color: #ffffff;
		font-size: 16px;
	}
	.setpassword_hr
	{
		opacity: 0.3;
		width: 86%;
		height: 1px;
	}
	.setpassword_siz
	{
		color: #ad97c6;
		font-size: 9px;
	}
	.setpassword_text
	{
		border-radius: 5px;
	}
	.setpassword_check
	{
		float: left;
		color: #ad97c6 ;
	}
	.setpassword_h5
	{
		color: #ad97c6;
		text-align: justify;
		width: 87%;
		font-size: 12px;
	}
	#setpassword_button
	{
		color: #ad97c6;
		border: none;
		height: 50px;
		font-size: 16px;
	}
