<div class="single-2">
        <div class="container-fluid">
            <div class="main-content ">

                <ul class="list-group list-group-lg">
                    <li class="list-group-item row">
                        <div class="panel-section col-md-4">
                            <div class="panel-description">
                                <div class="panel-title-single2">
                                    Name
                                </div>

                            </div>
                        </div>

                        <div class="panel-content col-md-8 ">
                            <div class="edit-first model-rename">
                                <div class="form-group">
                                    <purple-inline id="app-rename-input">
                                        <div class="inline-edit-single2">
                                            <span class="inline-edit_label-single2 ">
                                           sagiapp1
                                 </span>
                                            <span class="icon icon-edit"></span>
                                        </div>
                                        <div class="clearfix editing-mode-single2">
                                            <div class="update-edit clearfix">
                                                <input type="text" class="form-control purple-inline ember-view ember-text-field">
                                                <button type="submit" class="btn btn-primary btn-update  disabled">
                                                Update
                                              </button>
                                                <div class="cancel-edit">
                                                    <button type="cancel" class="btn btn-link btn-cancel">
                                                  Cancel
                                                </button>
                                                </div>
                                            </div>
                                        </div>
                                    </purple-inline>
                                </div>

                            </div>

                        </div>

                    </li>
                    <li class="list-group-item row">
                        <div class="panel-section col-md-4 ">
                            <div class="panel-description">
                                <div class="panel-title-single2">
                                    Config Variables
                                </div>

                                <div class="panel-details-single2">
                                    Config vars change the way your app behaves. In addition to creating your own, some add-ons come with their own.
                                </div>
                            </div>
                        </div>

                        <div class="panel-content col-md-8">
                            <div class="config-vars">
                                <button class="btn btn-sm btn-default-single2 reveal-config-vars-single2">Reveal Config Vars</button>
                            </div>
                            <div class="config-vars-list-single2">
                                <div class="group-header">
                                    <h5>Config Vars</h5>
                                </div>

                                <div class="purple-box empty-state">
                                    <p class="title">There are no config vars for this app yet</p>
                                    <p><a href="https://devcenter.heroku.com/articles/config-vars">Learn about config vars</a> in the Dev Center.</p>
                                </div>


                                <form>
                                    <table class="table editable-list purple-list config-vars-list-table">
                                        <tbody>

                                            <tr class="config-var-new">
                                                <td>
                                                    <div class="ember-view form-group"><input id="ember1868" placeholder="KEY" type="text" class="form-control config-var-key monospace   ember-view ember-text-field">

                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="ember-view form-group"><textarea id="ember1888" placeholder="VALUE" rows="1" wrap="off" resize="false" class="config-var-value monospace form-control   ember-view ember-text-area" style="overflow: hidden; resize: none; height: 33px;"></textarea>
                                                        <!---->
                                                        <textarea placeholder="VALUE" rows="1" wrap="off" resize="false" class="config-var-value monospace form-control   ember-view ember-text-area" style="overflow: hidden; resize: none; display: none;"><!----></textarea></div>
                                                </td>

                                                <td class="config-var-add">
                                                    <button type="submit" class="btn btn-primary ember-view async-button default" disabled="" disablewhen="">    Add
                                        </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>


                            </div>
                        </div>

                    </li>
                    <li class="list-group-item row">
                        <div class="panel-section  col-md-4">
                            <div class="panel-description">
                                <div class="panel-title-single2">
                                    Info
                                </div>

                            </div>
                        </div>

                        <div class="panel-content col-md-8">
                            <dl class="dl-horizontal app-settings-info pull-left">
                                <dt>Region</dt>
                                <dd>United States</dd>

                                <dt>Stack</dt>
                                <dd>cedar-14</dd>

                                <!---->
                                <dt>Framework</dt>
                                <dd>
                                    <span class="text-muted">No framework detected</span>
                                </dd>

                                <dt>Git URL</dt>
                                <dd><code>https://git.heroku.com/sagiapp1.git</code></dd>

                                <dt>Repo size</dt>
                                <dd>0.0</dd>

                                <dt>Slug size</dt>
                                <dd>0.0 <span class="text-muted">of 300MB</span></dd>
                            </dl>

                        </div>

                    </li>
                    <li class="list-group-item row">
                        <div class="panel-section col-md-4 ">
                            <div class="panel-description">
                                <div class="panel-title-single2">
                                    Buildpacks
                                </div>

                                <div class="panel-details-single2">
                                    Buildpacks are scripts that are run when your app is deployed. They are used to install dependencies for your app and configure your environment.<br><a href="https://elements.heroku.com/buildpacks">Find New Buildpacks at Heroku Elements</a>
                                </div>
                            </div>
                        </div>

                        <div class="panel-content col-md-8">
                            <div class="buildpack-installations-list">
                                <div class="group-header">
                                    <h5 class="heading-single2">Buildpacks<button id="btn-buildpack" class="btn btn-default-single2 pull-right add-button">Add buildpack</button></h5>



                                </div>
                                <div class="purple-box-single2 u-padding-Al u-padding-Tm u-text-center">
                                    <h3>
                                        <small>
                    Buildpacks will appear here
                  </small>
                                    </h3>
                                    <p> Buildpacks are used to install dependencies for your app and configure your environment.
                                    </p>
                                </div>

                            </div>

                        </div>

                    </li>
                    <li class="list-group-item row">
                        <div class="panel-section col-md-4 ">
                            <div class="panel-description">
                                <div class="panel-title-single2">
                                    Domains and certificates
                                </div>

                                <div class="panel-details-single2">
                                    Add your custom domains here then <a href="https://devcenter.heroku.com/articles/custom-domains">point your DNS to Heroku</a>.
                                </div>
                            </div>
                        </div>

                        <div class="panel-content col-md-8">
                            <div class="domains-list">
                                <div class="u-margin-Bxl">
                                    <div class="dt bb b--heroku-light-silver w-100 pv2">
                                        <div class="dtc w-10">
                                            <h5 class="heading-single2">Domain</h5>
                                        </div>
                                        <div class="dtc">
                                            <div>
                                                Your app can be found at <a target="_blank" href="https://sagiapp1.herokuapp.com/">https://sagiapp1.herokuapp.com/</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dt bb b--heroku-light-silver w-100 pv2">
                                        <div class="dtc w-10">
                                            <h5 class="heading-single2">SSL</h5>
                                        </div>
                                        <span>
                      Upgrade to paid dynos to configure Heroku SSL
                    </span>
                                    </div>
                                </div>
                                <div class="group-header">
                                    <h5 class="heading-single2">Custom Domains
                                        <button class="btn btn-default-single2 pull-right add-button">Add domain</button>
                                    </h5>

                                </div>

                                <div class="purple-box-single2 u-padding-Al u-padding-Tm u-text-center">
                                    <h3>
                                        <small>
                      Custom domains will appear here
                    </small>
                                    </h3>
                                    <p>
                                        Custom domains allow you to access your app via one or more non-Heroku domain names (for example, <code>www.yourcustomdomain.com</code>)
                                    </p>
                                </div>

                            </div>
                        </div>

                    </li>
                    <li class="list-group-item row">
                        <div class="panel-section app-transfer col-md-4">
                            <div class="panel-description">
                                <div class="panel-title-single2">
                                    Transfer Ownership
                                </div>

                                <div class="panel-details-single2">
                                    Transfer this app to your personal account or to an organization or team of which you are a member. <a href="https://devcenter.heroku.com/articles/transferring-apps"> Learn More </a>
                                </div>
                            </div>
                        </div>

                        <div class="panel-content col-md-8">
                            <div>
                                <div class="edit-first">
                                    <p>
                                        <select id="ember3581" tabindex="0" class="form-control ember-view x-select">        <option id="ember3582" class="ember-view x-option">Select a new owner…</option>
           
                    </select> </p>
                                    <button disabled="" type="submit" disablewhen="" class="btn btn-primary create-transfer ember-view async-button default">    Transfer
                                    </button>
                                </div>

                            </div>

                        </div>

                    </li>
                    <li class="list-group-item row">
                        <div class="panel-section col-md-4">
                            <div class="panel-description">
                                <div class="panel-title-single2">
                                    Maintenance Mode
                                </div>

                                <div class="panel-details-single2">
                                    If you need to take your app offline you can turn on maintenance mode. <a href="https://devcenter.heroku.com/articles/maintenance-mode">More info</a>
                                </div>
                            </div>
                        </div>

                        <div class="panel-content col-md-8">
                            <div class="maintenance-mode">
                                <div class="switch-mode">
                                    <div class="switch-mode__toggle">
                                        <div class="toggle-switch"><input type="checkbox" class="cmn-toggle cmn-toggle-round-flat ember-view ember-checkbox">

                                            <label for="checker-ember3586"></label>
                                        </div>
                                    </div>
                                    <div class="switch-mode__status">
                                        <p class="switch-mode__status__text text-muted">
                                            Maintenance mode is off
                                        </p>
                                    </div>

                                    <p>
                                        <span class="ember-view confirmable-action"><!---->
                                        </span> 
                                    </p>
                                </div>
                            </div>

                        </div>

                    </li>
                    <li class="list-group-item row">
                        <div class="panel-section danger app-deletion col-md-4">
                            <div class="panel-description">
                                <div class="panel-title-single2">
                                    Delete App
                                </div>

                                <div class="panel-details-single2">
                                    Deleting your app and its add-ons is irreversible.
                                </div>
                            </div>
                        </div>

                        <div class="panel-content col-md-8">
                            <p>
                                <span class="ember-view confirmable-action">  <button class="btn btn-danger delete-app" >
                                    Delete app...
                                  </button>

                                </span> </p>

                        </div>

                    </li>
                </ul>


            </div>



        </div>

    </div>