<div class="single-1">
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-12 col-lg-12">

                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <div class="title-header-single1">
                        <span class="content-title-single1"><b>Installed Add-ons</b>
                            <span id="ember2466" title="" class="badge-single1 ember-view tooltip-component" data-original-title="Estimated monthly cost">      $0.00/month

                                </span>
                        </span>
                        <span class="links-single1"><a href="#" class="link-purple">Configure Add-ons</a>
                        <span  class="glyphicon glyphicon-circle-arrow-right"></span>
                        </span>

                    </div>

                    <div class="thumbnail col-xs-12 col-sm-12 col-lg-12 center-single1">
                        <b class="content-single1">There are no add-ons for this app</b>
                        <p class="content-p-single1">You can add add-ons to this app and they will show here. <a href="#" class="link-purple">Learn more</a></p>


                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-lg-6 title-header-single1">
                    <span class="content-title-single1"><b>Latest activity</b></span>

                    <a href="#" class="links-single1">All Activity<span  class="glyphicon glyphicon-circle-arrow-right"></span></a>
                    <div class="center-single1">
                        <div class="content list-group-item-single1">
                            <div class="icons">
                                <i height="32px" class=" release-icon icon icon-activity-default"></i>
                                <span style="width:24px; height:24px" class=" gravatar-icon" data-original-title="" title=""><img src="https://gravatar.com/avatar/dc777fe0d4d694d45160dfb6edf1239c?s=96&amp;d=https://dashboard.heroku.com%2Fimages%2Fstatic%2Fninja-avatar-48x48.png">
                                    </span>
                            </div>
                            <div class="activity">
                                <strong class="user">
                                          akarsh.biebs@gmail.com:
                                        </strong>
                                <span class="activity-description">
                                          Enable Logplex
                                        </span>
                            </div>

                            <ul class="activity-meta">
                                <li>
                                    <time id="ember1877" datetime="2017-01-07T07:02:35Z" title="Sat, 07 Jan 2017 07:02:35 GMT" class="ember-view timeago">9 days ago</time>
                                </li>
                                <li class="version">
                                    v2
                                </li>

                            </ul>
                        </div>
                        <div class="content">
                            <div class="icons">
                                <i id="ember2917" height="32px" class="ember-view release-icon icon icon-activity-initial-release"><!----></i>
                                <span id="ember2918" style="width:24px; height:24px" class="ember-view gravatar-icon" data-original-title="" title=""><img src="https://gravatar.com/avatar/dc777fe0d4d694d45160dfb6edf1239c?s=96&amp;d=https://dashboard.heroku.com%2Fimages%2Fstatic%2Fninja-avatar-48x48.png">
                                    </span>
                            </div>
                            <div class="activity-single1">
                                <strong class="user">
                                          akarsh.biebs@gmail.com:
                                        </strong>
                                <span class="activity-description">
                                          Initial release
                                        </span>
                            </div>

                            <ul class="activity-meta">
                                <li>
                                    <time id="ember2919" datetime="2017-01-07T07:02:34Z" title="Sat, 07 Jan 2017 07:02:34 GMT" class="ember-view timeago">9 days ago</time>
                                </li>
                                <li class="version">
                                    v1
                                </li>

                            </ul>
                        </div>




                    </div>
                </div>



            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <div class="title-header-single1">
                        <span class="content-title-single1"><b>Dyno formation</b>
                        <span id="ember2466" title="" class="badge-single1 ember-view tooltip-component" data-original-title="Estimated monthly cost">      $0.00/month

                            </span>
                        </span>
                        <span class="links-single1"><a href="#" class="link-purple">Configure dynos</a>
                                <span  class="glyphicon glyphicon-circle-arrow-right"></span>
                        </span>
                    </div>

                    <div class="thumbnail col-xs-12 col-sm-12 col-lg-12 center-single1">
                        <b class="content-single1">This app has no process types yet</b>
                        <p class="content-p-single1">Add a procfile to your app in order to define its process types. <a href="#" class="link-purple">Learn more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <div class="title-header-single1">
                        <span class="content-title-single1"><b>Collaborator activity</b></span>
                        <span class="links-single1"><a href="#" class="link-purple">Manage Access</a>
                                <span  class="glyphicon glyphicon-circle-arrow-right"></span>
                        </span>
                    </div>

                    <div class="thumbnail col-xs-12 col-sm-12 col-lg-12 center-single1">
                        <b class="content-single1">There is no recent activity on this app</b>
                        <p class="content-p-single1">Collaborator activity will be shown when there are recent deploys. </p>
                    </div>
                </div>
            </div>
        </div>



    </div>


