<div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="row ">
            <div class="col-sm-6 col-md-6">
                <ul class="nav nav-tabs">
                    <li><a href="#">Heroku.com</a>
                    </li>
                    <li><a href="#">Blogs</a>
                    </li>
                    <li><a href="#">Careers</a>
                    </li>
                    <li><a href="#">documentation</a>
                    </li>
                    <li id="supporting">
                        <input type="submit" value="support" id="support_button" class="form-control">
                    </li>
                    <li><a href="#">switch to classic</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-1"></div>
            <div class="col-sm-6 col-md-5 pull-right">
                <ul class="nav nav-tabs">
                    <li><a href="#">Terms of Service</a>
                    </li>
                    <li><a href="#">Privacy</a>
                    </li>
                    <li><a href="#">Cookies</a>
                    </li>
                    <li><a href="#">© 2016 Salesforce.com</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
</div>