<div>
 <div class="fp_nav_bar_1">
        <div class="container">
            <div class="fp_v23">
                <ul>
                    <li>Personal apps</li>
                </ul>
            </div>
            <div class="fp_v34">
                <ul>
                    <li>
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">NEW
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">Create new app</a></li>
                              <li><a href="#">Create new pipeline</a></li>
                            </ul>
                          </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="panel panel-default fp_deft">

            <div class="panel-body">
                <div class="fp_sym" align="center">
                    <img id="fp_home" src="/images/hexa_add.png">
                </div>
                <div class="fp_txt" align="center">
                    <h4>You currently have no apps</h4>
                </div>
                <div class="fp_txt1" align="center">
                    To get started, click the button below and create a new app.
                </div>
                <div  align="center">
                    <input type="button" ui-sref="home.create_app" id="fp_txt2" value="Create New App" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>