<div class="container">
    <div class="col-md-3"></div>
    <!-- end of main col-md-3 -->

    <div class="col-md-6" align="center">
        <h2 class="setpassword_h2">Set your password</h2>
        <h3 class="setpassword_h3">Create your password and log in to your Heroku account.</h3>
        <hr class="setpassword_hr">
        <br>
        <div style="color: red">{{msg}}</div>
        <form class="form-group" ng-submit="setpassword()">
        <div class="row inner">
            <div class="col-md-3"></div>
            <!-- end of inner col-md-3 -->

            <div class="col-md-6">
                <input class="form-control text" type="password" ng-model="newpassword" placeholder="Password" size="20">
            </div>
            <!-- end of inner col-md-6 -->


            <div class="col-md-3">
                <p class="setpassword_siz">Minimum 8 characters: Letters, numbers, and/or symbols</p>
            </div>
            <!-- end of inner col-md-3 -->
        </div>
        <!-- end of inner class -->
        <br>
        <div class="row inner1">
            <div class="col-md-3"></div>
            <!-- end of inner1 col-md-3 -->

            <div class="col-md-6">
                <input class="form-control text" type="password" ng-model="confirmpassword" placeholder="Retype password" size="20">
            </div>
            <!-- end of inner1 col-md-6 -->

            <div class="col-md-3">
                <p class="setpassword_siz">Confirm new password</p>
            </div>
            <!-- end of inner1 col-md-3 -->

        </div>
        <!-- end of inner1 class -->
        <br>
        <div class="row inner2">
            <div class="col-md-3"></div>
            <!-- end of inner2 col-md-3 -->

            <div class="col-md-6">
                <input type="checkbox" class="setpassword_check">
                <h5 class="setpassword_h5">I'd like to recieve product update,</h5>
                <h5 class="setpassword_h5">technical content and more from Heroku.</h5>
                <h5 class="setpassword_h5">I wont be spammed and i can unsubscribe at anytime.</h5>
                
            </div>
            <!-- end of inner2 col-md-6 -->

            <div class="col-md-3"></div>
            <!-- end of inner2 col-md-3 -->
        </div>
        <!-- end of inner2 class-->
        <br>
        <div class="row inner3">
            <div class="col-md-3"></div>
            <!-- end of inner3 col-md-3 -->

            <div class="col-md-6">
                <input type="submit" value="Set Password and log in" id="setpassword_button" class="form-control">
            </div>
            <!-- end of inner3 col-md-6 -->

            <div class="col-md-3"></div>
            <!-- end of inner3 col-md-3 -->

        </div>
        </form>
        <!-- end of inner3 class -->
    </div>
    <!-- end of main col-md-6 -->
    <div class="col-md-3"></div>
    <!-- end of main col-md-3 -->

</div>
<!-- end of container tag -->